<h1><span style = 'color:lime'>ACTIVITY 2:</span> UK ACCIDENT DATA ANALYTICS PROJECT</h1>
<hr>
ANALYST: DWIGHT FRANCIS M. CAÑA

In [1]:
import numpy as np
import pandas as pd
from scipy.stats import f_oneway
import warnings
warnings.filterwarnings('ignore')

In [2]:
UA = pd.read_csv('uk_accident_data.csv')

In [3]:
UA

,Index,Accident_Severity,Accident Date,Latitude,Light_Conditions,District Area,Longitude,Number_of_Casualties,Number_of_Vehicles,Road_Surface_Conditions,Road_Type,Urban_or_Rural_Area,Weather_Conditions,Vehicle_Type
0,200701BS64157,Serious,05/06/2019,51.506187,Darkness - lights lit,Kensington and Chelsea,-0.209082,1,2,Dry,Single carriageway,Urban,Fine no high winds,Car
1,200701BS65737,Serious,02/07/2019,51.495029,Daylight,Kensington and Chelsea,-0.173647,1,2,Wet or damp,Single carriageway,Urban,Raining no high winds,Car
2,200701BS66127,Serious,26/08/2019,51.517715,Darkness - lighting unknown,Kensington and Chelsea,-0.210215,1,3,Dry,NaN,Urban,NaN,Taxi/Private hire car
3,200701BS66128,Serious,16/08/2019,51.495478,Daylight,Kensington and Chelsea,-0.202731,1,4,Dry,Single carriageway,Urban,Fine no high winds,Bus or coach (17 or more pass seats)
4,200701BS66837,Slight,03/09/2019,51.488576,Darkness - lights lit,Kensington and Chelsea,-0.192487,1,2,Dry,NaN,Urban,NaN,Other vehicle
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
660674,201091NM01760,Slight,18/02/2022,57.374005,Daylight,Highland,-3.467828,2,1,Dry,Single carriageway,Rural,Fine no high winds,Car
660675,201091NM01881,Slight,21/02/2022,57.232273,Darkness - no lighting,Highland,-3.809281,1,1,Frost or ice,Single carriageway,Rural,Fine no high winds,Car
660676,201091NM01935,Slight,23/02/2022,57.585044,Daylight,Highland,-3.862727,1,3,Frost or ice,Single carriageway,Rural,Fine no high winds,Car
660677,201091NM01964,Serious,23/02/2022,57.214898,Darkness - no lighting,Highland,-3.823997,1,2,Wet or damp,Single carriageway,Rural,Fine no high winds,Motorcycle over 500cc
660678,201091NM02142,Serious,28/02/2022,57.575210,Daylight,Highland,-3.895673,1,1,Wet or damp,Dual carriageway,Rural,Snowing no high winds,Car

In [4]:
UA.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 660679 entries, 0 to 660678
Data columns (total 14 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   Index                    660679 non-null  object
 1   Accident_Severity        660679 non-null  object
 2   Accident Date            660679 non-null  object
 3   Latitude                 660654 non-null  float64
 4   Light_Conditions         660679 non-null  object
 5   District Area            660679 non-null  object
 6   Longitude                660653 non-null  float64
 7   Number_of_Casualties     660679 non-null  int64
 8   Number_of_Vehicles       660679 non-null  int64
 9   Road_Surface_Conditions  659953 non-null  object
 10  Road_Type                656159 non-null  object
 11  Urban_or_Rural_Area      660664 non-null  object
 12  Weather_Conditions       646551 non-null  object
 13  Vehicle_Type             660679 non-null  object
dtypes: float64(2), int64(2), object(10)
memory usage: 70.6+ MB

In [5]:
UA.describe()

            Latitude      Longitude  Number_of_Casualties  Number_of_Vehicles
count  660654.000000  660653.000000         660679.000000       660679.000000
mean       52.553866      -1.431210              1.357040            1.831255
std         1.406922       1.383330              0.824847            0.715269
min        49.914430      -7.516225              1.000000            1.000000
25%        51.490690      -2.332291              1.000000            1.000000
50%        52.315641      -1.411667              1.000000            2.000000
75%        53.453452      -0.232869              1.000000            2.000000
max        60.757544       1.762010             68.000000           32.000000

In [6]:
UA['Index'] = UA['Index'].astype('category')
UA['Accident_Severity'] = UA['Accident_Severity'].astype('category')
UA['Latitude'] = UA['Latitude'].astype('float')
UA['Longitude'] = UA['Longitude'].astype('float')
UA['Light_Conditions'] = UA['Light_Conditions'].astype('category')
UA['District Area'] = UA['District Area'].astype('category')
UA['Number_of_Casualties'] = UA['Number_of_Casualties'].astype('int')
UA['Number_of_Vehicles'] = UA['Number_of_Vehicles'].astype('int')
UA['Road_Surface_Conditions'] = UA['Road_Surface_Conditions'].astype('category')
UA['Road_Type'] = UA['Road_Type'].astype('category')
UA['Urban_or_Rural_Area'] = UA['Urban_or_Rural_Area'].astype('category')
UA['Weather_Conditions'] = UA['Weather_Conditions'].astype('category')
UA['Vehicle_Type'] = UA['Vehicle_Type'].astype('category')

In [7]:
UA.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 660679 entries, 0 to 660678
Data columns (total 14 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   Index                    660679 non-null  category
 1   Accident_Severity        660679 non-null  category
 2   Accident Date            660679 non-null  object
 3   Latitude                 660654 non-null  float64
 4   Light_Conditions         660679 non-null  category
 5   District Area            660679 non-null  category
 6   Longitude                660653 non-null  float64
 7   Number_of_Casualties     660679 non-null  int64
 8   Number_of_Vehicles       660679 non-null  int64
 9   Road_Surface_Conditions  659953 non-null  category
 10  Road_Type                656159 non-null  category
 11  Urban_or_Rural_Area      660664 non-null  category
 12  Weather_Conditions       646551 non-null  category
 13  Vehicle_Type             660679 non-null  category
dtypes: category(9), float64(2), int64(2), object(1)
memory usage: 52.8+ MB

In [8]:
UA.isnull().sum()

Index                          0
Accident_Severity              0
Accident Date                  0
Latitude                      25
Light_Conditions               0
District Area                  0
Longitude                     26
Number_of_Casualties           0
Number_of_Vehicles             0
Road_Surface_Conditions      726
Road_Type                   4520
Urban_or_Rural_Area           15
Weather_Conditions         14128
Vehicle_Type                   0
dtype: int64

In [9]:
for Num in ['Latitude', 'Longitude']:
    UA[Num] = UA[Num].fillna(UA[Num].mean())
    
for notNum in ['Road_Surface_Conditions', 'Road_Type', 'Urban_or_Rural_Area', 'Weather_Conditions']:
    UA[notNum] = UA[notNum].fillna(UA[notNum].mode()[0])

In [10]:
UA.isnull().sum()

Index                      0
Accident_Severity          0
Accident Date              0
Latitude                   0
Light_Conditions           0
District Area              0
Longitude                  0
Number_of_Casualties       0
Number_of_Vehicles         0
Road_Surface_Conditions    0
Road_Type                  0
Urban_or_Rural_Area        0
Weather_Conditions         0
Vehicle_Type               0
dtype: int64

<hr>
<h2>Data Analysis Questions</h2>

<h3>1. What's the type of vehicle most involve in accidents</h3>

In [13]:
UA.groupby("Vehicle_Type")["Number_of_Vehicles"].mean().sort_values(ascending=False)

Vehicle_Type
Motorcycle 50cc and under                1.839537
Pedal cycle                              1.837563
Taxi/Private hire car                    1.836468
Motorcycle over 500cc                    1.834743
Goods over 3.5t. and under 7.5t          1.833497
Car                                      1.832134
Bus or coach (17 or more pass seats)     1.831015
Goods 7.5 tonnes mgw and over            1.830935
Other vehicle                            1.825971
Motorcycle over 125cc and up to 500cc    1.825888
Van / Goods 3.5 tonnes mgw or under      1.824180
Motorcycle 125cc and under               1.815247
Agricultural vehicle                     1.805855
Minibus (8 - 16 passenger seats)         1.804150
Data missing or out of range             1.666667
Ridden horse                             1.500000
Name: Number_of_Vehicles, dtype: float64

<h3>2. What the type of vehicle has the severes accidents</h3>

<h4>Insights:</h4>
<hr>

In [15]:
UA['Accident_Severity'] = UA['Accident_Severity'].cat.codes + 1
UA.groupby("Vehicle_Type")['Accident_Severity'].mean().sort_values(ascending=False)

Vehicle_Type
Data missing or out of range             3.000000
Ridden horse                             3.000000
Bus or coach (17 or more pass seats)     2.844540
Taxi/Private hire car                    2.843463
Motorcycle 125cc and under               2.842229
Motorcycle 50cc and under                2.841641
Goods 7.5 tonnes mgw and over            2.840931
Car                                      2.840128
Motorcycle over 125cc and up to 500cc    2.840125
Van / Goods 3.5 tonnes mgw or under      2.839344
Other vehicle                            2.839099
Motorcycle over 500cc                    2.838835
Goods over 3.5t. and under 7.5t          2.837434
Agricultural vehicle                     2.833590
Minibus (8 - 16 passenger seats)         2.830972
Pedal cycle                              2.741117
Name: Accident_Severity, dtype: float64

<h4>Insights:</h4>
<hr>

<h3>3. What kind of roads are most commonly involved in accidents?</h3>

In [24]:
UA["Road_Type"].value_counts().sort_values(ascending=False)

Road_Type
Single carriageway    496663
Dual carriageway       99424
Roundabout             43992
One way street         13559
Slip road               7041
Name: count, dtype: int64

<h4>Insights:</h4>
<hr>

<h3>4. Does Longitude affect the severity of accidents?</h3>

In [23]:
UA["Latitude"].corr(UA["Accident_Severity"])

np.float64(-0.026468995471298513)

<h4>Insights:</h4>
<hr>